.accueil{
    @include flex-column-center{
        justify-content: space-around;
    }
    background: map-get($colours,lightgrey);
    min-height: 285px;
    &__title{
        font-size: x-large;
        font-weight: bold;
        text-align: center;
        margin: 0 70px;
    }
    &__slogan{
        text-align: center;
        margin: -20px 30px 0 30px;
    }
    & button{
        height: 50px;
        width: 220px;
        margin: 0px 0 50px 0;
        font-weight: normal;
        font-size: medium;
    }
}