.body{
    @include flex-column-center{
        align-items: stretch;
    }
    
    font-family: map-get($fonts,text);
    margin: 0;
    @include tablette-rules-margin;
    & a{
        text-decoration: none;
        color: white;
    }
    & h1{
        font-family: map-get($fonts,title);
    }
    & h3{
        padding: 0;
        margin: 0;
    }
    & .title{
        font-size: x-large;
        font-weight: bold;
        margin: 50px auto 0 20px;
    }
    & ul{ 
        list-style: none;
        padding: 0;
        margin: 0;
    }
}
