/*#region footer*/
.footer{
    display: flex;
    background: map-get($colours,lightblack);
    height: 200px;
    color: white;
    & a:hover{
        color: map-get($colours,purple);
    }
    &__title{
        font-family: map-get($fonts,title);
        font-size: large;
    }
    &__container{
        margin: 20px;
        width: 100%;
        @include flex-column{
            justify-content: space-around;
            align-content: space-around;
        }
    } 
    & ul.footer__menu{ 
        margin:10px 0 0 0;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        align-content: space-around;
        & > li{
            margin: auto auto 5px auto;
            & > a > i{
                font-size: small;
                margin: 0 10px 0 0;
                &.icon-hands-helping{
                    font-size: x-small;
                }
            }
        }
        @include tablette-rules-list{
            & > li{
                margin: 15px 5px 15px 0;
            }
        }
        @media screen and (min-width:740px){
            & > li{
                margin: 20px 5px 70px 0;
            }
        }
    }
    & .w3c-css{
        @include flex-row;
        &__link{
            margin: 0px 0;
            padding: 0;
            & img{
                border:0;
                width:88px;
                height:31px;
            }
        }

        @include tablette-rules-empty{
            justify-content: flex-end;
            align-items: flex-end;
        }
    }
}
/*#endregion footer*/