.header
{
    @include flex-column-center;
    height: 60px;
    @include tablette-rules-empty {
        height: 120px;
    }
    & > h1{
        @include flex-row-center;
    }
    &__badge-gitlab{
        position: absolute;
        align-self: flex-start;
        margin-top: -40px;
    }
    &__logo{
        height: 28px;
        @include tablette-rules-empty {
            height: 56px;
        }
    }
    &__with-back{
        position: absolute;
        align-self: flex-start;
        margin: 0px 0 0 20px;
        > button{
            background: transparent;
            border: 0;
            cursor: pointer;
            font-size: large;
            color:map-get($colours,lightblack);
        }
    }
}