
.localization{
    @include flex-row-center;
    height: 50px;
    box-shadow: rgb(180, 180, 180) 0 12px 12px -10px inset;/*axe x, axe y, blur, spread*/
    background: #EAEAEA;
    &__text{
        margin: 0 0 0 0.5em ;
    }
}