.nav{
    @include flex-column;
    max-height: 440px;
    & ul.nav__menu{
        @include flex-column-center{
            justify-content: space-around;
        }
        margin: 10px 0 50px 0;
        @include tablette-rules-list;
        & li a.btn{
            height: 70px;
            width: 325px;
            margin: 10px 0;
            font-weight: normal;
            font-size: medium;
            color: black;
        }
    }
}