.restaurants{
    @include flex-column-center{
        justify-content: space-around;
    }
    background: map-get($colours,lightgrey);
    & ul.restaurants__list{
        margin: 0 0 65px 0;
        @include tablette-rules-list;
        > li > article.restaurant{
            margin: 20px 5px;
            @include tablette-rules-empty{
                margin: 20px 10px;
            }

            @include desktop-rules-empty{
                margin: 20px 15px;
            }
            
            @include tv-rules-empty{
                margin: 20px 23px;
            }
        }
    }
}