/*#region Button component class  definition*/
.btn{
    @include flex-row-center;
    @include shadow(rgb(220, 220, 220));
    font-family: map-get($fonts,text);
    cursor: pointer;
    &--more-rounded{
        border-radius: 2em;
        border: 0px;
    }
    &--rounded{
        border-radius: 1.0em;
        border: 0px;
    }
    &--more-shadow{
        @include shadow(rgb(175,175,175));
    }
    &__icon{
        font-size: larger;
        margin: 0 1em;
        &--purple{
            color: map-get($colours,purple);
        }
        &--lightgrey{
            color: map-get($colours,grey);
        }
    }
    &--font-white{
        color: white;
    }
    &--font-pink{
        color: map-get($colours,pink);
    }
    &--font-purple{
        color: map-get($colours,purple);
    }
    @include btn-colours;
    &--enumerated{ 
        /*Un bouton énuméré doit avoir une structure HTML comme :
        <button>
            <span>numéro</span>
            <div>texte</div>
        </button>*/
        justify-content: stretch;
        > :first-child{
            @include flex-row-center;
            margin: 0 0 0 -20px;
            border-radius: 2em;
            border: 0;
            background: map-get($colours,purple);
            width: 25px;
            height: 25px;
            color: white;
            font-size: small;
            + div{
                @include flex-row-center{
                    justify-content: stretch;
                }
                margin: 0 0.5em;
            }
        }
    }
    &--checkable{
        overflow: hidden;
        & .btn--check{
            background: map-get($colours,bluegreen);
            @include flex-row-center;
            align-self: center;
            overflow: hidden;
            height: 100%;
            width: 0%;
            opacity: 0;
            transform: scaleX(1);
            transition: width 300ms ease-in-out, opacity 288ms 12ms ease-in-out;/*property duration delay*/
            & > i{
                color: white;
                font-size: x-large;
                transform: rotate(0deg);
                transition: transform 350ms ease-in-out;
            }
        }
    }
    &:hover{
        @include shadow;
    }
}

.btn-control{
    opacity: 0;
    position: fixed;
    width: 0;
    &:checked{
        + .btn .btn--check{
            width: 17%;
            opacity: 1;
            @include mobile-rules-empty{
                &> i {
                    transform: rotate(360deg);
                }
            }
        }
    }
    &:not(:checked):hover{
        + .btn .btn--check{
            width: 17%;
            opacity: 1;
            &> i {
                transform: rotate(360deg);
            }
        }
    }
}

.btn-heart{
    position: absolute;
    overflow: hidden;
    font-size: x-large;
    font-weight: lighter;
    //color: map-get($colours,gray);
    //color:transparent;
    background: url("../images/assets/heart.png") no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 200;
    &__2{
        z-index: 100;
        font-size: x-large;
        font-weight: lighter;
        box-shadow: 0px 0px 0px 1px white inset;
        background: linear-gradient(to bottom, map-get($colours,purple), map-get($colours,pink)) padding-box;
        //color: map-get($colours,purple);
        color:transparent;
        transform: scale(0);
        opacity:1;
        transform-origin: 50% 100%;
    }
    &--grey-background{
        background: url("../images/assets/heart-gray.png") no-repeat;
        background-size: contain;
        & + .btn-heart__2{
            box-shadow: 0px 0px 0px 1px map-get($colours,lightgrey) inset;
        }
    }
}

.btn-control{
    + .favorite{
        @include flex-row-center;
        position: relative;
        border: none;
        background: none;
        z-index: 50;
    }
    &:checked{
        &  + .favorite > .btn-heart__2{
            animation: heart-favorite 2000ms forwards;   
        }
        & + .favorite > .btn-heart{
            //color: map-get($colours,pink);
            //color: map-get($colours,gray);
            color: transparent;
        }
    }
    &:not(:checked){
        &:hover{
            & + .favorite > i.btn-heart{
                color: map-get($colours,purple);
            }
        }
        &  + .favorite > .btn-heart__2{
            transform: scale(0);
        }
        & + .favorite > .btn-heart{
            color: map-get($colours,gray);
        }
    }
}
/*#endregion Button component class  definition*/