/*#region loading spinner*/
.loader{
    & .page-container{
        transform-origin: center center;
        opacity: 0;
        animation: appear 1000ms 2500ms forwards;
    }
    &__circles{
        z-index: 150;
        position: fixed;
        left: 43%;
        top: 43%;
        @include tablette-rules-empty{
            left: 47%;
            top: 47%;
        }
        &__loading{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            margin: 80px 0px -80px -15px;
            font-family: map-get($fonts,title);
            font-size: large;
            text-shadow: 0 2px 6px grey;
            color: map-get($colours,purple);
            transform-origin: 50% 0%;
            @include waves-generataion(10,50);
        }
        opacity:0;
        transform-origin:  center center;
        transform: scale(0);
        animation: appear_loading 1500ms 10ms alternate both 2;
        &__circle{
            position: absolute;
            border-radius: 3em;
            height: 50px;
            width: 50px;
            transform-origin:  center center;
            &__1{
                transform-origin:  center center;
                border:10px solid transparent;
                background:  map-get($colours,pink) border-box;
                box-shadow: 0 3px 6px grey;
            }
            &__2{
                transform-origin:  center center;
                border:10px solid transparent;
                background: linear-gradient(white,white) padding-box,
                linear-gradient(to left, transparent, map-get($colours,purple)) border-box;
                
                animation: turn 3000ms linear 9;
            }
            &__3{
                display: flex;
                z-index: 155;
                transform-origin:  center center;
                border:10px solid transparent;
                /*background: url("../images/assets/assiette.webp") white no-repeat padding-box;
                background-size:cover;*/
                animation: turn 3000ms linear reverse 9;
            }
        }
    }
}
/*#endregion loading spinner*/