.restaurant{
    @include flex-column-center;
    position: relative;
    @include shadow;
    background-color: white;
    border-radius: 0.8em;
    width: 335px;
    z-index: 1;
    transform-origin: 50% 50%;
    transition: transform 500ms;
    .favorite{
        position: absolute;
        right: 20px;
        bottom: 25px;
    }
    &:hover{
        transform: scale(1.05);
        z-index: 50;
    }
    & > a{
        @include flex-column;
        height: 250px;
        width: 100%;
        z-index: 1;
        & .new{
            @include flex-row-center;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 80px;
            height: 25px;
            background-color: map-get($colours,bluegreen);
            color: darken(map-get($colours,bluegreen),40%);
            border-radius: 0.2em;
            font-weight: bold;
            font-size: small;
        }
    }
    &__illustration{
        border-radius: 0.8em 0.8em 0 0;
        object-fit: cover;
        height: 175px;
        width: 100%;
    }
    &__bottom{
        @include flex-row-center{
            justify-content: space-between;
        }
    }
    &__description{
        @include flex-column-start;
        margin: 15px 0 auto 10px;
        color:black;
        > h4{
            margin: 0;
        }
        > span{
            font-weight: 50;
        }
    }
}