/*#region Menu class  definition*/
/*Menu class  definition*/
.menu{
    background: map-get($colours,lightgrey);
    &--a-la-francaise{
        background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash-1024.webp");
    } 
    &--note-enchantee{
        background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash-1024.webp")
    } 
    &--delice-des-sens{
        background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash-1024.webp");
    }
    &--palette-du-gout{
        background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash-1024.webp");
    }
    &.page .palette-du-gout{
        @include menu-childs-animation-li(3);
    }
    &.page .note-enchantee{
        @include menu-childs-animation-li(4);
    }
    &.page .delice-des-sens{
        @include menu-childs-animation-li(3);
    }
    &.page .a-la-francaise{
        @include menu-childs-animation-li(3);
    }
    &__imagemenu{   
        @include flex-column-center{
            align-content: stretch;
        }
        background-size: cover;
        background-position: center;
        height: 286px;
        margin: 0 2px;
    }
    &__menu-map{
        @include flex-column;
        margin: -55px 0 -20px 0;
        border-radius: 2.5em;
    }
    &__title{
        @include flex-row-center{
            justify-content: space-between;
        }
        margin: 0px 30px -10px 20px;
        @include tablette-rules-empty{
            justify-content: center;
            margin: 0px 0px -10px 0px;
        }
        font-family: map-get($fonts,title);
        font-size: 24px;
        & > h1{
            font-weight: 100;
            font-size: 24px;
            @include tablette-rules-empty{
                margin: 30px 20px 30px 0px;
                font-size: larger;
            }
        }
        > i{
            font-size: 25px;
            font-weight: lighter;
            margin: auto auto auto 30px;
        }
    }
    &__menu-map-part{
        @include flex-column;
        .border-bottom{
            border-bottom: medium solid map-get($colours,bluegreen);
            width: 40px;
            text-transform: uppercase;
            margin: 10px 0 20px 20px;
            @include tablette-rules-empty{
                align-self: center;
                margin: 10px 0 20px -10px;
            }
        }
        &__title{
            font-weight: lighter;
            font-size: medium;
            margin: 30px 0 0 0; 
            
        }
        > ul{ 
            @include flex-column-center{
                justify-content: space-around;
                margin: -20px 0 0px 0;
            }
            @include tablette-rules-list;
            > li{
                margin: 15px auto 0px auto;
                > label{
                width: 350px;
                height:70px;
                background: white;
                justify-content: space-between;
                }
                opacity: 0;
                transform-origin: 50% 0%;
            }
        }
        & .btn-command{
            margin: 40px 0 80px 0;
            width: 185px;
            height: 50px;
            font-weight: bold;
            font-size: 16px;
            align-self: center;
        }
    }
    &__desc-menu{
        @include flex-column{
            justify-content: space-around;
            align-items: flex-start;
        }
        margin: 10px auto auto 10px;
        font-size: 15px;
        overflow: hidden;
        > span, > div{
            display: inline;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }
    }
    &__desc-name{
        font-size: large;
        font-weight: bold;
        margin-bottom: 5px;
        display: inline;
        white-space: nowrap;
    }
    &__desc-price{
        align-self: flex-end;
        margin: auto 20px 10px auto;
        font-size: 15px;
        font-weight: bold;
        background: transparent;
    }
}
/*#endregion Menu class  definition*/