/*#region Animations*/
/*Animations d'apparition du menu d'un restaurant*/
@keyframes loading_menu_restaurant {
    0%{
        opacity: 0;
        transform: translateY(200%);
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

/*Animations d'apparition du chargement*/
@keyframes appear_loading{
    0%{
        opacity:0;
        transform:scale(0);
    }
    50%{
        opacity:1;
        transform:scale(1);
    }
    95%{
        opacity:1;
        transform:scale(.9);
    }
    100%{
        opacity:1;
        transform:scale(1);
    }
}

/*Animation vagues Loading ...*/
@keyframes waves {
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(50%);
    }
}

/*Animation d'apparition*/
@keyframes appear{
    0%{
        opacity:0;
        transform:scale(0);
    }
    50%{
        opacity:.5;
        transform:scale(1);
    }
    95%{
        opacity:.85;
        transform:scale(.9);
    }
    100%{
        opacity:1;
        transform:scale(1);
    }
}

/*Animation de rotation*/
@keyframes turn{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(720deg);
    }
}

/*Animation de remplissage du coeur d'ajout à la liste des favoris utilisateur*/
@keyframes heart-favorite{
    0%{
        transform: scaleY(0) scaleX(0);
    }
    25%{
    }
    50%{
        transform:scaleY(.5) scaleX(1);
        
    }
    75%{

    }
    100%{
        transform:scaleY(1) scaleX(1);
    }
}
/*#endregion Animations*/