@font-face
{
    font-family:"Roboto";
    src:url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"),
    url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"),
    url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"),
    url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"),
    url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Shrikhand";
    src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
}

@import "../Vendors/icomoon";