/*#region méthodes*/
@mixin shadow($color: rgb(145, 145, 145),$size:12px,$x:0px,$y:5px) {
    box-shadow: $x $y $size $color;
}

@mixin flex-row-center{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    @content;
}

@mixin flex-row-start{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    @content;
}

@mixin flex-row{
    display: flex;
    flex-flow: row nowrap;
    @content;
}

@mixin flex-column-center{
    display: flex ;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    @content;
}

@mixin flex-column-start{
    display: flex ;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    @content;
}

@mixin flex-column{
    display: flex ;
    flex-flow: column nowrap;
    @content;
}

/*Méthode de génération automatique de l'animation des menus pour chaque menu*/
@mixin menu-childs-animation-li($nchilds){
    @for $li from 0 to $nchilds{
        .animated-menu > li:nth-child(#{$li + 1})
        {
            animation: loading_menu_restaurant 1000ms #{$li * 91}ms ease-out forwards;
        }
    }
}

/*Méthode de génération de l'animation waves sur le loading spinner*/
@mixin waves-generataion($nb:1,$interval_delay:10)
{
    @for $i from 0 to $nb{
        &__c#{($i+1) + ""}{
            animation: waves 500ms #{$i*$interval_delay}ms ease-in-out alternate both 6;
        }
    }
}

/*Méthode de génération automatique des modificateur de couleurs de la classe .btn*/
@mixin btn-colours($map:$colours){
    @each $key, $val in $map{
        &--#{$key + ""}{
            background: $val;
            &--gradient{
                @if $key + "" == "purple"{
                    background: linear-gradient(to bottom right, $colour-secondary,$val);
                    &:hover{
                        background: linear-gradient(to bottom right, lighten($colour-secondary,2.5%),lighten($val,2.5%));
                    }
                }@else{
                    background: linear-gradient(to bottom right, lighten($val,15%),$val);
                    &:hover{
                        background: linear-gradient(to bottom right, lighten($val,10%),lighten($val,5%));
                    }
                }
            }
            @if $key + "" == "lightgrey"{
                &:hover{
                    background: lighten($colour-primary,33%);
                    & .btn__icon{
                        color: $colour-primary;
                        
                    }
                }
            }/*@if $key + "" != "purple" and $key + "" != "lightgrey"{
                &:hover{
                    background: lighten($val,20%);
                    & .btn__icon{
                        color: $val;
                    }
                }
            }*/
        }
        
    }
}

/*Mobile*/
@mixin mobile-rules-empty{
    @media screen and (max-width: map-get($breakpoints,mobile)){     
        @content;
    }
}

/*Tablette*/
@mixin tablette-rules-list{
    @media screen and (min-width: map-get($breakpoints,mobile)){
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        @content;
    }
}

@mixin tablette-rules-empty{
    @media screen and (min-width: map-get($breakpoints,mobile)){     
        @content;
    }
}

@mixin tablette-rules-margin{
    @media screen and (min-width: map-get($breakpoints,mobile)){
        margin: 0 10%;
    }
}

/*Desktop*/
@mixin desktop-rules-empty{
    @media screen and (min-width: map-get($breakpoints,desktop)){     
        @content;
    }
}

/*TV*/
@mixin tv-rules-empty{
    @media screen and (min-width: map-get($breakpoints,tv)){     
        @content;
    }
}
/*#endregion méthodes*/