/*#region variables*/
$colour-primary:#9356DC;
$colour-secondary:#FF79DA;
$colour-tertiary:#99E2D0;
$colour-background:#F6F6F6;
$colour-grey:grey;
$colour-lightblack: #353535;

$fonts:(text:Roboto,title:Shrikhand);

$colours:(purple:$colour-primary,pink:$colour-secondary,bluegreen:$colour-tertiary,lightgrey:$colour-background,gray:$colour-grey,lightblack:$colour-lightblack);

$breakpoints:(mobile:599px, tablette:900px, desktop:1280px, tv:1920px);
/*#endregion variables*/